a{
  text-decoration:none;
}
body {
  padding: 0;
  margin: 0;
  --header-height:100px;
  /*padding-top:var(--header-height);*/

}
.header{
  z-index:11;
  background-color:#424874;
  display:flex;
  position:fixed;
  top:0px;
  left:0px;
  width:100vw;
  justify-content:space-between;
  align-items:center;
  color:#DCD6F7;
  height:var(--header-height);
  font-family:'Inclusive Sans', sans-serif;
  transition: all 0.2s;
}

.header-hidden{
  transform:translateY(calc(-1 * var(--header-height)));
}
.left-header{
  font-size:43px;
  padding-left:72px;
  
}
.mid-header:hover{
  color:blue;
  text-decoration:underline;
}
.email{
  color:#DCD6F7;
}
.email:hover{
  color:blue;
  text-decoration:underline;
}
.right-header{
  padding-right:122px;
}
.header-logo{
  padding-right:32px;
}
.contact-us-link{
  background-color:#DCD6F7;
  padding:12px 12px 12px 12px;
  border-radius:32px;
  font-size:22px;
  color:#424874;
}
.contact-us-link:hover {
   background-color:#424874;
   color:#DCD6F7;
}
.nav {
  display: flex;
  position:fixed;
  top:100px;
  justify-content: center; /* Center the menu items horizontally */
  align-items: center;
  height: 80px;
  width: 100vw;
  background-color: #DCD6F7;
  z-index: 10;
  border-bottom: 2px solid #E3E8ED; 
}
.nav-after-scroll{
  top:0px;
  transition:all 0.2s;
}
.left-div {
  height: 60px;
  min-width: 217px;
  margin-bottom:12px;

}

.logo-img {
  width: 128px;
  padding-left: 42px;
}

.mid-div {
  flex: 1;
  min-width: 80px;
  height: 60px;
}

.menu-icon {
  margin-right: 22px;
  visibility: visible;
  font-size: 2em;
  margin-top: 17px;
  float: right;
  color: #424874;
  display: block;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

.menu-ul {
  height: 60px;
  list-style-type: none;
  display: flex;
  min-width: 167px;
  padding-top: 39px;
  padding-right:174px;
  justify-content: space-around; /* Center the menu items horizontally */
}

.menu-item {
  color: #424874;
  font-family: 'Inclusive Sans', sans-serif;
  font-weight:600;
  padding: 12px;
  border-radius: 20px;
  transition: all 0.5s;
}

.menu-item:hover {
  
  background-color: #424874;
  color: #F4EEFF;
  box-shadow: 1px 2px 3px #424874;
  border-radius: 20px;
  margin: 1px;
  cursor: pointer;
}

.menu-item:active {
  opacity: 0.4;
}

.service-drop-down-menu{
  position:absolute;
  list-style-type: none;  
  border-radius:12px;
padding:0px;
top:55px;
  width:140px;
  display:none;
}
.services:hover .service-drop-down-menu{
  display:grid;
}
.service-list{
border:1px;
border-style:solid;
padding:12px 12px 12px 12px;
border-color:#E3E8ED;
border-radius:12px;
cursor:pointer;
background-color:#DCD6F7;
color:#424874;
font-family:'Inclusive Sans', sans-serif;
transition: all 1s;
}
.special-link{
  color:#424874;
}

.special-link:hover{
  color:#DCD6F7;
}
.special-link-logo{
  color:inherit;
}
/*
.service-list-link:visited{
  color:inherit;
}*/
.service-list:hover{
  color:#DCD6F7;
  background-color:#424874;
 transform:translateX(10px);
}


.product-drop-down-menu{
  position:absolute;
  list-style-type: none;
  border-radius:12px;
  padding:0px;
  top:55px;
  width:140px;
  display:none;
}

.products:hover .product-drop-down-menu{
  display:grid;
}
.product-list{
  border:1px;
  border-style:solid;
  padding:12px 12px 12px 12px;
  border-color:#E3E8ED;
border-radius:12px;
cursor:pointer;
background-color:#DCD6F7;
color:#424874;
font-family:'Inclusive Sans', sans-serif;
transition: all 1s;
}
.product-list:hover{
  color:#DCD6F7;
  background-color:#424874;
  transform:translateX(10px);
}
@media screen and (min-width: 350px) and (max-width: 767px) {
  
  .left-header{
    font-size:32px;
    padding-left:12px;
    display:flex;
  }
.header-logo{
  padding-right:5px;
}

.mid-header{
  font-size:12px;
}
  .right-header{
    padding-right:2px;
  }
  .contact-us-link{
    font-size:12px;
  }
  .nav {
    width: 100vw;
  }

  .menu-icon {
    margin-top: 0px;
    margin-right: 50px;
    display: block;
  }

  .menu-ul {
    position: fixed;
    width: 100%;
    height: 50%;
    background: #424874;
    top: 82px;
    left: -400%;
    padding: 0px;
    text-align: center;
    flex-direction: column;
    transition: all 0.5s;
    z-index: 200;
    margin:0px;
  }

  .menu-item {
    color: #F4EEFF;
    font-weight: 900;
    line-height: 5em;
    padding: 0px;
    display: flex; /* Add display: flex; */
    align-items: center; /* Vertically center the text */
    justify-content: center; /* Horizontally center the text */
  }

  .menu-item:hover {
    background-color: #F4EEFF;
    color: #424874;
    transition: all 0.5s;
  }

  #check:checked ~ .menu-ul {
    left: 0;
    visibility: visible;
  }

  .service-drop-down-menu{
    top:9.5em;
    left:52px;
    width:297px;

  }
  .product-drop-down-menu{
    top:14.5em;
    left:52px;
    width:297px;
  }
}
