.product-item-div{
    display:grid;
    grid-template-rows: 400px 400px;
    grid-gap:20px;
    justify-content: center;
    align-items: center;

}

.product-item1-div-hidden{
    display:grid;
    grid-template-columns:400px 600px;
    background-color:azure;
    border-radius:2em;
    opacity:0;
            filter:blur(5px);
            transform:translateX(-100%);
            transition:all 2s;
}
.product-item1-div-show{
    opacity:1;
    filter:blur(0);
    transform: translateX(0);
}

.product-item1-div-show:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.product-img{
    width:400px;
}

.product-title-div{
   margin-top:42px;
    display:flex;
    justify-content:center;
    align-items:center;
}
.product-title{
    text-align:center;
    color:#424874;
    font-weight:600;
    font-size:2em;
    font-style: 'Inclusive Sans', sans-serif;
}
.product-info-div{
    display:flex;
    justify-content:center;
    align-items:center;
    margin-left:83px;
    text-align:left;
    color:darkcyan;
    font-style: 'Inclusive Sans', sans-serif;
}

@media screen and (min-width: 350px) and (max-width: 767px) {
    .product-item-div{
        grid-template-rows: 400px 500px;
    }
    .product-item1-div-hidden{
        grid-template-columns:50px 300px;
        justify-content: center;
        align-items: center;
        opacity:0;
        filter:blur(5px);
        transform:translateX(-100%);
        transition:all 2s;
    }
    .product-item1-div-show{
        opacity:1;
        filter:blur(0);
        transform: translateX(0);
    }
    .product-title{
        font-size:20px;
     margin-right:70px;
     margin-bottom:60px;
    }
    .product-img{
        width:150px;
    }
    .product-info-div{
        text-align:center;
    }
}