    #todo-list {
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
        max-height: 215px; /* Adjust the maximum height as needed */
        overflow-y: auto;
    }

    .delete-task-btn,
    .edit-task-btn {
        margin-left: 5px;
    }
       
    .btn-success{
        height:40px;
        margin:0px;
        border-radius:40px;
        background-color: #383d62;
    }

    .list-group-item{
        color:#47434c;
    }